/*https://getbootstrap.com/docs/5.0/customize/color/*/
:root {
    --colour-primary-100: #dec9bb;
    --colour-primary-200: #af937f;
    --colour-primary-300: #a5836a;
    --colour-primary-400: #8d6e58;
    --colour-primary-600: #6c503b;
    --colour-primary-700: #583f2d;
    --colour-primary-800: #4c3524;
    --colour-secondary-100: #a8cbfe;
    --colour-secondary-200: #81b4fe;
    --colour-secondary-300: #5a9cfe;
    --colour-secondary-400: #3485fd;
    --colour-secondary-600: #0b5cd5;
    --colour-secondary-700: #094bac;
    --colour-secondary-800: #073984;
    --colour-bg: wheat;
    --colour-panel: #fff3de;
    --colour-panel-darker: #f5e3c5;
}

body {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
    background: var(--colour-bg);
    /*justify-content: center;*/
}

.header {
    display: block;
    /*background: powderblue;*/
    background: var(--colour-panel);
    padding: 1px;
    margin: 0.7em 1.5vw 0 1.5vw;
    border-radius: 7px;
}

/*.header ul, li {
    list-style: none;
    margin: 0;
}*/

/*#headerRibbon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerRibbon div {
    cursor: pointer;
    background: red;
    height: inherit;
}*/

#headerRibbon {
    display: grid;
    grid-template-columns: 70px 80px 80px 310px 1fr 70px 70px;
}

.iconButton img {
    width: 35px;
}

.headerGridBox {
    cursor: pointer;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.textButton {
    font-size: 120%;
    font-weight: bold;
    color: var(--colour-primary-400);
}

.filtered {
    filter: invert(58%) sepia(13%) saturate(961%) hue-rotate(343deg) brightness(91%) contrast(83%);
}

.headerGridBox:hover {
    background: var(--colour-panel-darker);
}

#logoWrapper {
}

.headerGridBoxSearch {
    position: relative;
    justify-content: left;
    padding-top: 10px;
    margin-left: 5px;
}

.headerGridBoxSearch:hover {
    cursor: default;
    background: var(--colour-panel);
}

/*.headerGridBoxSearch::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid red;
}*/

#searchButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 5px;
}

#searchButtonWrapper:hover {
    background: var(--colour-panel-darker);
}

#searchButtonWrapper img {
    width: 30px;
    padding: 5px;
}

#searchField {
    cursor: text;
    /*height: 20px;*/
    border: none;

    background: var(--colour-panel);
    border-bottom: 2px solid var(--colour-primary-200);
    font-size: 100%;
    font-weight: bold;
    color: var(--colour-primary-700);
    width: 35%;
    height: 70%;
    padding: 0;

    transition: border-bottom 0.05s ease,
                font-size 0.05s ease,
                width 0.05s ease-in;
}

#searchField:focus, #searchField.enlarged {
    outline: none;
    border-bottom: 2px solid var(--colour-primary-100);
    font-size: 120%;
    width: 90%;
}

.mainContent {
    margin-top: 0;
}

.footer {
    display: block;
    background: wheat;
    /*text-align: center;*/
}

.footerTitle {
    font-weight: bold;
    font-size: 115%;
    margin-bottom: 10px;
}

.footerGridWrapper {
    display: grid;
    /*row-gap: 1em;
    padding: 1em 0 1em 0;*/
    grid-template-columns: 40% 1fr 1fr 1fr;
    grid-template-rows: 2fr, 1fr;

    gap: 1em;
    padding: 1em;
}

.footerBox {
    padding: 1em;
    /*margin: 0 1em 0 1em;*/
    background: var(--colour-panel);
    border-radius: 10px;
}

.box1 {
    /* Это фон QR-кода */
    /*background: none;*/
    text-align: center;
}

.box4 {
    margin-right: -1em;
}

.box5 {
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: center;
}

#qrImageWrapper {
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
}

#qrImageWrapper img {
    height: 300px;
    padding: 7px;
    border-radius: 20px;
}

.socialImgWrapper {
    /*min-height: 2.5em;
    max-height: 3em;*/
    height: 2.5em;
}

.socialImgWrapper img {
    min-height: 2.5em;
    min-width: 2.5em;
}

/*#socialWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#socialWrapper div {
    margin: 0.5vw;
}*/

#socialWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5vw;
    text-align: center;
}

/*.footerGridWrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
  }
  
  .footerGridWrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }*/

.productList {
    display: flex;
    flex-direction: row;
    background: gainsboro;
    border-radius: 5px;
    margin: 10px 2vw 10px 2vw;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
    width: 150px;
    height: 180px;
    margin: 10px;
}

.productName {
    font-weight: bold;
    text-align: center;
}

.productImageWrapper {
    display: block;
    width: 110px;
    height: 110px;
    text-align: center;
}

#productPageContentWrapper {
    background: white;
    margin: 10px 1.5vw 10px 1.5vw;
    padding: 1.5vw;
    border-radius: 7px;
}

#productPageName {
    font-size: 160%;
}

.productPageSubName {
    font-weight: bold;
    margin-bottom: 5px;
}

.productPagePrice {
    font-size: 150%;
    font-weight: bold;
    color: var(--colour-secondary-800);
    margin-left: 2px;
}

#productPageImageWrapper {
    height: 20em;
    margin: 0.5em;
    grid-row: 2/6;
    text-align: center;
}

#productPageGridWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.8fr 0.6fr 1.2fr repeat(2, 2fr);
}

#productPageGridWrapper input {
    margin-left: 15px;
}

#sizes {
    display: flex;
    flex-flow: row wrap;
    row-gap: 0.4em;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}

.pageTitle {
    font-size: 120%;
    font-weight: bold;
    color: var(--colour-primary-800);
    margin: 10px 0 0 25px;
}

#errorPageContentWrapper {
    text-align: center;
    padding: 10em 0 10em 0;
    margin: 10px 1.5vw 0 1.5vw;
    border-radius: 7px;
    background: radial-gradient(rgb(255, 255, 255, 0.2), rgb(0, 0, 0, 0.2)),
                radial-gradient(#ececec, #ececec, #b6b6b6);
}

#errorPage h1 {
    font-size: 350%;
    margin: 0;
    color: #313131;
}

#errorPage h2 {
    font-size: 130%;
    margin: 0;
    color: #7e7e7e;
}

#frog {
    height: 12em;
    margin-top: 6em;
}

input[type=button] {
    cursor: pointer;
    padding: 8px 10px;
    font-weight: bold;
    background: var(--colour-secondary-100);
    color: var(--colour-secondary-800);
    border: 1px solid var(--colour-secondary-800);
    border-radius: 3px;
}

input[type=button]:hover, input[type=button].pressed {
    background: var(--colour-secondary-300);
}

input[type=button]:active {
    background: var(--colour-secondary-400);
}

input[type=button].disabled,
input[type=button].disabled:hover,
input[type=button].disabled:active
{
    background: gray;
    color: #cacaca;
    border: 1px solid #cacaca;
    cursor: default;
}

.hyperlink {
    cursor: pointer;
    font-size: 105%;
    text-decoration: none;
    color: var(--colour-secondary-800);
}

.hyperlink:hover {
    text-decoration: underline;
}

/* Too lazy to edit every button in the project */
.invisible {
    visibility: collapse;
    height: 0;
    margin: 0 !important;
}

#msgNothingFound {
    font-size: 150%;
    font-weight: 800;
    color: var(--colour-primary-300);
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}